
* { 
    box-sizing:  border-box; 
    margin: 0;
    padding: 0
}

body {
    background: gray;
    margin: 0px;
    text-align: center;
    background-image: url("./flowers1.jpg")
}


html,body{
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans Unicode'
}

.header {
    position: relative;
    z-index: 150;
}



.header-wrap {
    display: inline-block;
    position: relative;
    width: 85%;
    margin-top: 1%;
    font-size: 0;
}
.header-left {
    display: inline-block;
    text-align: center;
    width: 50%;
}
.header-right {
    display: inline-block;
    text-align: right;
    width: 50%;
    
}
.header-btn {
    display: inline-block;
    min-width: 30%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 2rem;
    margin: 0.2rem;
    overflow: hidden;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.header-btn:hover {
    border-color: white;
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.7s ease
}

.main-wrap {
    display: inline-block;
    width: 85%;
    position: relative;
    min-height: 100%;
    color: white;
}

.main-page {
    width: 100%;
}

.logo {

    font-size: 3em;
}

.main-text {
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.hidden {
    display: none;
}


.map {
    display: inline-block;
    border: 2px solid black;
    padding: 1px;
    border-radius: 7px;
    margin-top: 2rem;
}

.content {
    position: relative;
    z-index: 150;
}

.contacts-wrap {
    overflow: hidden;
}


.contacts-text {
    display: inline-block;
    text-align: left;
}

.vacancy-wrap {
    text-align: left;
    margin-left: 2rem;
}

.vacancy-wrap h2 {
    text-align: center;
}

.background, .header-background {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: 1;
    border-radius: 5px;
}

.current {
    border-color: white;
    color: black;
    background: white;
}

.products-text {
    text-align: left;
    margin-left: 1.5em;
}

.yandex-disk {
    width: 150px;
}

.yandex-disk:hover {
    width: 200px;
    transition: all 0.7s ease;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans Unicode'
}

.fade-in {
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}
